
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            信息中心
        </h3>
        <ul class="breadcrumb">
            <li><span class="divider"><i class="fa fa-sitemap"></i></span><a href="@Url.Action("Index", "Home", new { @area=""})">平台首页</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li><a href="javascript:;">OA办公自动化</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li class="active">我的中心</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row-fluid ">

    <div class="span12">

        <!-- BEGIN INLINE TABS PORTLET-->

        <div class="portlet box hui">

            <div class="portlet-title">

                <div class="caption"><i class="icon-reorder"></i>单位制度</div>

                <!--<div class="tools">

                    <a href="javascript:;" class="collapse"></a>

                    <a href="#portlet-config" data-toggle="modal" class="config"></a>

                </div>-->
                <div class="actions">

                    <a href="Systemadd.html" class="btn blue"><i class="icon-pencil"></i> 新增制度</a>

                </div>

            </div>

            <div class="portlet-body">



                <div class="row-fluid">

                    <div class="span12">

                        <!--BEGIN TABS-->

                        <div class="tabbable tabbable-custom tabs-left">

                            <!-- Only required for left/right tabs -->

                            <ul class="nav nav-tabs tabs-left">

                                <li class="active"><a href="#tab_3_1" data-toggle="tab">考勤制度</a></li>

                                <li><a href="#tab_3_2" data-toggle="tab">门禁制度</a></li>

                                <li><a href="#tab_3_3" data-toggle="tab">客情用餐制度</a></li>
                                <li><a href="#tab_3_4" data-toggle="tab">办公禁烟制度</a></li>
                                <li><a href="#tab_3_5" data-toggle="tab">差旅报销制度</a></li>

                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane active" id="tab_3_1">

                                    <p style="font-size:14px; line-height:20px;"></p><h3 style="text-align:center; padding-bottom:10px; border-bottom:1px dashed #cccccc; margin-bottom:10px;">考勤管理制度</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了规范公司管理，加强劳动纪律和工作秩序，提高工作效率，特制订本制度。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司员工必须自觉遵守劳动纪律，按时上下班，不迟到，不早退，工作时间不得擅自离开工作岗位，外出办理业务前，须经本部门负责人同意。节假日值班由公司统一安排。
                                    <br><h5><strong>一、考勤范围</strong></h5>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司全体员工均在考勤之列。特殊情况不考勤需经董事长批准，由管理中心备案。

                                    <br><h5><strong>二、工作时间</strong></h5>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、公司实行六天工作制，每周一至周六为正常工作日，周日休息。如需安排人员值班的，由各个部门根据加班管理流程（OA）提前申请安排实施。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、员工工作时间：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①冬令时（10月01日——04月30日）
                                    上午8:00~12：00；中午吃饭休息12：00~13：00；下午13：00~17:00。
                                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②夏令时（05月01日——09月30日）
                                    上午8:00~12：00；中午吃饭休息12：00~13：30；下午13：30~17:30。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、中午吃饭休息时间，客服内控部和前台吃饭休息时间需要分成两班制，确保岗位人员不间断。

                                    <br><h5><strong>三、考勤规定</strong></h5>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、打卡：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司实行电子指纹打卡考勤制度，员工上午上班时间、下午下班时间均需各打卡一次。本人不签到、签退或擅自离岗者，一律按旷工处理。对于扰乱正常考勤秩序的员工将从重从严处罚。因指纹原因打不上卡的，由保安进行手工签卡。出差、请假、调休等进出公司均需指纹打卡。否则按未打卡规定处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、值班：<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）各部门根据实际需要每周日安排人员值班。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）需要值班的人员由本部门主管自行安排后报管理中心备案。否则其值班时间不予承认。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）值班时效纳入调休（加班补助）内。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）值班应与正常工作日一样，按时上下班。并遵守一切正常工作日上班之规定。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、公出：<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1） 员工上班时间因公外出办事（市区内），需填写《出门证》，详细记载外出事由、工作去向、外出时间和拟返回时间等，经部门主管批准后，交保安存档备查，以便管理中心考勤记录。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2） 出差：员工出差（市区外）须提前一天填写《出差申请单》，员工出差须经部门经理或部门总监同意批准后交财务中心、管理中心备案。各部门经理级以上员工出差需经董事长批准并交财务中心、管理中心备案。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3） 公司总裁办、客服内控部及管理中心将对员工进行不定期抽查，一旦发现未按规定办理公出手续者一律按旷工处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4） 因公外出超出申请时间的，回公司后必须在3个（含）正常工作日内补办相关手续。否则按照旷工处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5）公出人员如在公出期间办理私事，一经发现，按照旷工处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、请假：<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1） 请假均需提前一天提出并办理正式请假手续。员工请假前应觅妥代理人，填写请假申请得到批准后，按规定与代理人办妥工作交接方可离开，否则按旷工论。如遇紧急突发事件需要请假的，应及时打电话或发短信给部门主管请假，并于正常上班后三个（含）正常工作日内补办相关请假手续，否则按旷工处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2） 请假一日（含）以内应由部门主管及经理核准，请假核准后请假单一律交送管理中心存档；请假三日（含）以上，须报请部门经理至董事长核准，请假核准后请假单一律交送管理中心存档；各部门经理及以上员工请假需经董事长同意并报管理中心备案。具体按照0A系统流程执行。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3） 员工因故要短暂离开工作岗位的零星请假以每1小时为计量标准，经过部门主管领导批准（必须记载请假时间），在办理完出门手续后，方可离开公司。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、旷工：<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1） 无故缺勤、未申请或未经批准休/请假、未经批准而擅自离职者将被视为旷工。旷工一天扣发当日3倍薪资，如旷工连续超过三天或年累计超过7天，除扣发旷工天数*300%薪资外，另扣发当月全部奖金福利，并对该员工作自动离职处理。如果是重要岗位员工，对公司造成损失的，公司将保留司法追偿的权力。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2） 自动离职处理：首先停发剩余未发工资并将处理公告进行张贴公示以及通过该员工档案内的联系信息进行联系告知。自离员工如果一个月内未来公司办理相关手续的，将视作自动放弃本人剩余未发工资及其他一切相关利益并同时结束与公司的一切劳资关系。<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、加班：<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1） 公司以完成工作任务为时效，员工因未完成本职工作所造成的额外延时不纳入有效加班时效。加班时效需经部门经理或总监确认并填写《加班申请单》（或OA系统上按流程申请），后报管理中心备案。手续齐全的有效加班应在工作完成情况下优先安排调休或抵事假。（营销中心业务部门工作时效因直接反映在奖金提成内故所有延时都不纳入有效时效内）。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2） 加班以1小时起计，不足1个小时不予计算。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3） 加班原则上需要提前申请；如遇临时突发性加班的，应在加班后第一个正常工作日补全加班申请手续。否则其加班作废。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4） 加班时间原则上优先冲抵请假时间或是调休。当月请假/调休可以用上月或当月的加班时间冲抵，但不可用未产生的加班时间冲抵当月或上月的请假/调休时间。如有支付加班费用的，按照以下标准执行：加班费用计算基数按照嘉兴市最低薪资保障金额来核算；平时加班按照1.5倍计算，周日加班按照2倍计算，法定假日按照3倍计算。<br>
                                    计算公式：（嘉兴最低薪资保障金额/21.75/8）*（1.5或2或3）*加班小时。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5） 副总级（含）以上人员不计算加班。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（6）所有加班在每年的12月31日以调休或计算劳动报酬的方式清零。<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、未打卡：<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1） 因公出差在外造成的未打卡，管理中心经确认后将依据《出差申请表》自动补签考勤。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2） 因个人原因造成的漏打卡、忘打卡，当日到班后必须办理相关补签手续，同时，管理中心按报批对应时间进行扣罚处理。如有电子记录可以证明其有效出勤时间的，可以按照电子记录时间来确认出勤时间。

                                    <br><h5><strong>四、考勤统计</strong></h5>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、 公司考勤由管理中心统计、报财务部扣款，考勤人员每天需对员工出勤情况进行如实记录并将考勤记录OA公告。（没有OA的员工，由本部门主管进行查核通知。）管理中心每月底做一次考勤统计、核对、报财务部审核。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、 月考勤统计表于次月15日前报财务部作为核算工资依据，遇节假日顺延。

                                    <br><h5><strong>五、考勤考核标准及奖惩办法</strong></h5>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、 在一个自然月里，允许员工三次迟到（限5分钟以内），以备员工应急时用。这三次迟到不计经济处罚。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、 上班时间开始后30分钟内到的，视为迟到。迟到不作罚款处理，但需向公司“考勤基金”捐款，迟到/早退者，每1次捐款20元。当月累计超过5次者（含人性化三次），从第六次开始，每次捐款30元。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、 员工迟到/早退30分钟以上且未事先办理请假手续者，按旷工论处。旷工3小时以内按旷工半天计算，3小时以上按旷工一天计算。旷工一天扣发日工资的300%，旷工期间停发奖金、津贴及福利。连续旷工3天以上者或累计旷工7天以上者将视为严重违反公司劳动纪律和规章制度，公司将解除劳动合同关系。因旷工给公司造成经济损失的，公司有权要求员工赔偿经济损失。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、 考勤人员考勤记录不实、资料不全、弄虚作假或每月提供的考勤统计表有误，经查证属实者，按50元/次捐款“考勤基金”。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、 公司设立“考勤基金”，基金来源于员工迟到等违规行为的捐款，该基金主要用于员工日常活动经费，由财务预收。该基金专款专用，管理中心负责基金使用管理，并定期公布基金收支状况。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、 严格执行OA请假审批制度。未经OA相关请假制度流程审批，而擅离工作岗位的一律按照旷工处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、 未经申请而私自加班者不得补报加班。特殊情况必须得到上级主管证明并批准。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、 工作时间禁止打牌、下棋、串岗聊天等做与工作无关的事情。如有违反者当天需向公司“考勤基金”捐款50元，当月累计3次的，除捐款外按旷工1天处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、 参加公司组织的会议、培训、学习、考试或其他团队活动，如有事请假的，必须提前向组织者或带队者请假。在规定时间未到或早退的，按照本制度相关条款规定处理；未经批准擅自不参加的，视为旷工，按照本制度规定处理。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、员工按规定享受婚假、产育假、结育手术假时，必须凭有关资料报董事长批准；未经批准者休假按旷工处理；所有请假必需到管理中心备案。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11、员工的考勤情况，由各部门负责人进行监督、检查，部门负责人对本部门的考勤要秉公办事，认真负责。如有弄虚作假、包庇袒护迟到、早退、旷工员工的，一经查实，按处罚员工的双倍对当事主管予以处罚。

                                    <br><h5><strong>六、休假管理</strong></h5>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、婚假：婚假3天；符合晚婚年龄的晚婚假7天；<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、丧假：员工处理其配偶、父母、子女、岳父母、公婆、祖父母、外祖父母及有赡养关系直系亲属的丧事，给予3天假期；<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、 产假和计划生育假：女员工生育前后给予产假90天，达到晚育年龄的增加产假15天，难产增加产假15天，多胞胎生育，每多生育一个，增加产假15天；配偶生育，男员工可享受3天护理假，晚婚晚育的增加2天护理假。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、女员工怀孕流产，怀孕不满4个月的，产假不超过30天；怀孕满4个月的，产假不超过42天；
                                    女员工育婴，婴儿一周岁以内的，每天给予哺乳时间1小时，多胞胎每多生育一个，增加1小时。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、 年度休假：员工入司满一年的，可享受年度休假。公司工龄满1—5年者，每年享受5天年度休假；公司工龄满6—10年，每年享受10天年度休假；年度休假原则上放在春节统一休假。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、 病假：凭社区、区级、市级当地医院开具的病假条以及病例证明，经部门主管、综合办审批。病假超过医疗期的，按劳动合同有关规定处理；<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、工伤假：按照国家相关法律规定执行。

                                    <br><h5><strong>七、本制度如有未尽事宜，可以参照相关国家相关规定或双方协商处理。</strong></h5>
                                    <h5><strong>八、管理中心对本制度拥有最终解释权。</strong></h5>
                                    <h5><strong>九、本制度经董事长批准后生效执行，修订时亦同。</strong></h5><p></p><p style="margin-top:10px; border-top:1px dashed #cccccc; padding-top:10px;"></p><h5>签批人:吕董  赵必块  邵君  周辉  麻玲玲</h5><p></p>
                                    <div class="alert" style="margin-bottom:0px;">

                                        <button class="close" data-dismiss="alert"></button>

                                        <strong>签批说明：</strong> 所有制度一旦签批，制度即刻执行，签批人一般有总裁办和各部门领导组成，如对制度有问题可以<strong><a href="flow/workflow.html" style="color:#F00">提交反馈</a></strong>。


                                    </div>

                                </div>

                                <div class="tab-pane " id="tab_3_2">

                                    <p style="font-size:14px; line-height:20px;"></p><h3 style="text-align:center; padding-bottom:10px; border-bottom:1px dashed #cccccc; margin-bottom:10px;">门禁制度</h3>

                                    <p></p>

                                    <p style="margin-top:10px; border-top:1px dashed #cccccc; padding-top:10px;"></p><h5>签批人:吕董  赵必块  邵君  周辉  麻玲玲</h5><p></p>
                                    <div class="alert" style="margin-bottom:0px;">

                                        <button class="close" data-dismiss="alert"></button>

                                        <strong>签批说明：</strong> 所有制度一旦签批，制度即刻执行，签批人一般有总裁办和各部门领导组成，如对制度有问题可以<strong><a href="flow/workflow.html" style="color:#F00">提交反馈</a></strong>。


                                    </div>

                                </div>

                                <div class="tab-pane" id="tab_3_3">

                                    <p style="font-size:14px; line-height:20px;"></p><h3 style="text-align:center; padding-bottom:10px; border-bottom:1px dashed #cccccc; margin-bottom:10px;">客情用餐制度</h3>
                                    <p></p>

                                    <p style="margin-top:10px; border-top:1px dashed #cccccc; padding-top:10px;"></p><h5>签批人:吕董  赵必块  邵君  周辉  麻玲玲</h5><p></p>
                                    <div class="alert" style="margin-bottom:0px;">

                                        <button class="close" data-dismiss="alert"></button>

                                        <strong>签批说明：</strong> 所有制度一旦签批，制度即刻执行，签批人一般有总裁办和各部门领导组成，如对制度有问题可以<strong><a href="flow/workflow.html" style="color:#F00">提交反馈</a></strong>。


                                    </div>

                                </div>
                                <div class="tab-pane" id="tab_3_4">

                                    <p style="font-size:14px; line-height:20px;"></p><h3 style="text-align:center; padding-bottom:10px; border-bottom:1px dashed #cccccc; margin-bottom:10px;">办公禁烟制度</h3>
                                    <p></p>

                                    <p style="margin-top:10px; border-top:1px dashed #cccccc; padding-top:10px;"></p><h5>签批人:吕董  赵必块  邵君  周辉  麻玲玲</h5><p></p>
                                    <div class="alert" style="margin-bottom:0px;">

                                        <button class="close" data-dismiss="alert"></button>

                                        <strong>签批说明：</strong> 所有制度一旦签批，制度即刻执行，签批人一般有总裁办和各部门领导组成，如对制度有问题可以<strong><a href="flow/workflow.html" style="color:#F00">提交反馈</a></strong>。


                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_3_5">

                                    <p style="font-size:14px; line-height:20px;"></p><h3 style="text-align:center; padding-bottom:10px; border-bottom:1px dashed #cccccc; margin-bottom:10px;">差旅报销制度</h3>
                                    <p></p>

                                    <p style="margin-top:10px; border-top:1px dashed #cccccc; padding-top:10px;"></p><h5>签批人:吕董  赵必块  邵君  周辉  麻玲玲</h5><p></p>
                                    <div class="alert" style="margin-bottom:0px;">

                                        <button class="close" data-dismiss="alert"></button>

                                        <strong>签批说明：</strong> 所有制度一旦签批，制度即刻执行，签批人一般有总裁办和各部门领导组成，如对制度有问题可以<strong><a href="flow/workflow.html" style="color:#F00">提交反馈</a></strong>。


                                    </div>

                                </div>

                            </div>

                        </div>

                        <!--END TABS-->

                    </div>
                </div>

            </div>

        </div>

        <!-- END INLINE TABS PORTLET-->

    </div>

</div>
