<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            信息中心
        </h3>
        <ul class="breadcrumb">
            <li><span class="divider"><i class="fa fa-sitemap"></i></span><a href="@Url.Action("Index", "Home", new { @area=""})">平台首页</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li><a href="javascript:;">OA办公自动化</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li class="active">我的中心</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row-fluid">
    <table width="100%">
        <tbody>
            <tr valign="top">

                <td class="span12">
                    <div>
                        <div class="portlet box hui tabbable">

                            <div class="portlet-title">

                                <div class="caption"><i class="icon-calendar"></i>收件邮箱</div>
                                <div class="actions">
                                    <a href="#portlet-config_1" data-toggle="modal" class="btn yellow"><i class="icon-pencil"></i> 写内部邮件</a>
                                </div>
                            </div>

                            <div class="portlet-body" style="margin:10px;">

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style=" width:20px;"><div class="checker"><span><input name="" type="checkbox" value=""></span></div></th>
                                            <th style="text-align:center;width:40px;">状态</th>
                                            <th style="text-align:center;">邮件标题</th>
                                            <th style="width:50px;text-align:center;">发布人</th>
                                            <th style="width:50px;text-align:center;">发布时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;"><a href="myemail_look.html">今天下午14点30分，一楼会议室召开全体营销会议</a></td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>已读</td>
                                            <td style="display:block; text-align:left;">今天下午14点30分，一楼会议室召开全体营销会议</td>
                                            <td>赵陈勋</td>
                                            <td>2014.8.18</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>

                                            <td colspan="4" style="text-align:left;">
                                                <div style="float:left"><button class="btn purple">全选</button>  <button class="btn red">放入回收站</button></div><div class="pagination" style="float:right">

                                                    <ul>

                                                        <li><a href="#">«</a></li>

                                                        <li><a href="#">1</a></li>

                                                        <li><a href="#">2</a></li>

                                                        <li><a href="#">3</a></li>

                                                        <li><a href="#">4</a></li>

                                                        <li><a href="#">»</a></li>

                                                    </ul>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="width:150px; display:block; margin-left:10px;">
                        <div class="panel-group" id="accordion" style="margin-bottom:10px;">
                            <div class="panel-heading" style=" margin-top:0px;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        邮箱菜单
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <table class="table table-bordered table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td><a href="myemail_cg.html" style=" display:block; font-size:14px;">草稿箱</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="myemail_fs.html" style=" display:block; font-size:14px;">已发送</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="myemail.html" style=" display:block; font-size:14px;">收件箱</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="myemail_hs.html" style=" display:block; font-size:14px;">回收站</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div style="text-align:center; background-color:#3d3d3d; color:#fff; height:38px; font-weight:bold; font-size:16px; line-height:38px; margin-bottom:6px;">组织架构</div>
                            <ul class="tree trees" id="tree_2">

                                <li>

                                    <a href="" data-role="branch" class="tree-toggle1 closed" data-toggle="branch" data-value="Bootstrap_Tree">
                                        渠道事业部

                                    </a>

                                    <ul class="branch branchch">

                                        <li>

                                            <a href="#" class=" closed" data-toggle="branch" data-value="Bootstrap_Tree">

                                                内控部

                                            </a>

                                            <ul class="branch branchchch">

                                                <li><a href="#portlet-config_1" data-toggle="modal">赵勋</a></li>

                                                <li><a href="#" data-role="leaf">赵陈勋</a></li>

                                                <li><a href="#" data-role="leaf">赵必块</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#" class=" closed" data-role="leaf" data-toggle="branch" data-value="Bootstrap_Tree">销售部</a>
                                            <ul class="branch branchchch">

                                                <li><a href="#" data-role="leaf">赵勋</a></li>

                                                <li><a href="#" data-role="leaf">赵陈勋</a></li>

                                                <li><a href="#" data-role="leaf">赵必块</a></li>

                                            </ul>

                                        </li>
                                    </ul>

                                </li>

                                <li>

                                    <a href="#" data-role="branch" class="tree-toggle1 closed" data-toggle="branch" data-value="Bootstrap_Tree">
                                        终端事业部

                                    </a>

                                    <ul class="branch branchch">

                                        <li>
                                            <a href="#" class=" closed" data-role="leaf" data-toggle="branch" data-value="Bootstrap_Tree">内控部</a>
                                            <ul class="branch branchchch">

                                                <li><a href="#" data-role="leaf">赵勋</a></li>

                                                <li><a href="#" data-role="leaf">赵陈勋</a></li>

                                                <li><a href="#" data-role="leaf">赵必块</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#" class=" closed" data-role="leaf" data-toggle="branch" data-value="Bootstrap_Tree">销售部</a>
                                            <ul class="branch branchchch">

                                                <li><a href="#" data-role="leaf">赵勋</a></li>

                                                <li><a href="#" data-role="leaf">赵陈勋</a></li>

                                                <li><a href="#" data-role="leaf">赵必块</a></li>

                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#" class=" closed" data-role="leaf" data-toggle="branch" data-value="Bootstrap_Tree">嘉兴卖场</a>
                                            <ul class="branch branchchch">

                                                <li><a href="#" data-role="leaf">赵勋</a></li>

                                                <li><a href="#" data-role="leaf">赵陈勋</a></li>

                                                <li><a href="#" data-role="leaf">赵必块</a></li>

                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                                <li>

                                    <a href="#" data-role="branch" class="tree-toggle1 closed" data-toggle="branch" data-value="Bootstrap_Tree">
                                        电商事业部

                                    </a>

                                    <ul class="branch branchch">

                                        <li><a href="#" data-role="leaf">信息部</a></li>

                                        <li><a href="#" data-role="leaf">运维部</a></li>
                                    </ul>

                                </li>
                            </ul>

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>