<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            信息中心
        </h3>
        <ul class="breadcrumb">
            <li><span class="divider"><i class="fa fa-sitemap"></i></span><a href="@Url.Action("Index", "Home", new { @area=""})">平台首页</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li><a href="javascript:;">OA办公自动化</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li class="active">我的中心</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row-fluid ">
    <div class="span12">

        <!-- BEGIN TAB PORTLET-->

        <div class="portlet box hui tabbable">

            <div class="portlet-title">

                <div class="caption"><i class="icon-reorder"></i>单位通讯录</div>

            </div>

            <div class="portlet-body">

                <div class="tabbable portlet-tabs">

                    <ul class="nav nav-tabs">



                        <li><a href="#portlet_tab2" data-toggle="tab">我的名片</a></li>

                        <li class="active"><a href="#portlet_tab1" data-toggle="tab">通讯录</a></li>

                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="portlet_tab1">

                            <form action="#" class="form-search pull-right" style="margin-bottom:10px;">

                                <div class="input-append">

                                    <input class="m-wrap" type="text">

                                    <button class="btn green" type="button">查询</button>

                                </div>

                            </form>
                            <div class="bs-example">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style=" width:10px;">#</th>
                                            <th style="text-align:center;width:60px;">工号</th>
                                            <th style="width:80px;text-align:center;">部门</th>
                                            <th style="width:60px;text-align:center;">姓名</th>
                                            <th style="width:70px;text-align:center;">职位</th>
                                            <th style="width:85px;text-align:center;">座机</th>
                                            <th style="width:90px;text-align:center;">手机号码</th>
                                            <th style="text-align:center;">邮箱</th>
                                            <th style="text-align:center;width:70px;">内部短信</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>LD0003</td>
                                            <td>电商事业部</td>
                                            <td>赵必块</td>
                                            <td>总监</td>
                                            <td>83853228</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td><a href="#portlet-config" data-toggle="modal" class="btn yellow mini">发邮件</a></td>
                                        </tr>

                                        <tr>
                                            <td colspan="9" style="text-align:left;">
                                                <div class="pagination" style="float:right">

                                                    <ul>

                                                        <li><a href="#">«</a></li>

                                                        <li><a href="#">1</a></li>

                                                        <li><a href="#">2</a></li>

                                                        <li><a href="#">3</a></li>

                                                        <li><a href="#">4</a></li>

                                                        <li><a href="#">»</a></li>

                                                    </ul>

                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane" id="portlet_tab2">

                            <div class="bs-example">
                                <div class="alert">

                                    <button class="close" data-dismiss="alert"></button>

                                    名片添加都是属于自己的客户，您可以通过CRM客户关系系统添加，也可以通过这里<a href="mingpadd.html" style="color:#F00; font-weight:bold">添加</a>，两边信息同步的。

                                </div>
                                <form action="#" class="form-search pull-right" style="margin-bottom:10px;">

                                    <div class="input-append">

                                        <input class="m-wrap" type="text">

                                        <button class="btn green" type="button">查询</button>



                                    </div>
                                    <div class="input-append">

                                        <button class="btn red" type="button">删除</button>



                                    </div>

                                </form>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style=" width:20px;"><div class="checker"><span><input name="" type="checkbox" value=""></span></div></th>
                                            <th style=" width:10px;">#</th>
                                            <th style="text-align:center;">公司名称</th>
                                            <th style="text-align:center;">联系人</th>
                                            <th style="text-align:center;">职位</th>
                                            <th style="text-align:center;">座机</th>
                                            <th style="text-align:center;">传真</th>
                                            <th style="text-align:center;">手机号码</th>
                                            <th style="text-align:center;">邮箱</th>
                                            <th style="text-align:center;">网址</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>1</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>2</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>3</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>4</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>5</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>6</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>7</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>8</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>9</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>10</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>11</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>12</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>13</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>14</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>
                                        <tr>
                                            <td><div class="checker"><span><input name="" type="checkbox" value=""></span></div></td>
                                            <td>15</td>
                                            <td>浙江联动工具供应链有限公司</td>
                                            <td>赵必块</td>
                                            <td>销售总监</td>
                                            <td>0573-83857777</td>
                                            <td>0573-83850999</td>
                                            <td>18857308200</td>
                                            <td>planning@ldtool.cn</td>
                                            <td>www.ldpsp.com</td>
                                        </tr>

                                        <tr>
                                            <td colspan="9" style="text-align:left;">
                                                <div class="pagination" style="float:right">

                                                    <ul>

                                                        <li><a href="#">«</a></li>

                                                        <li><a href="#">1</a></li>

                                                        <li><a href="#">2</a></li>

                                                        <li><a href="#">3</a></li>

                                                        <li><a href="#">4</a></li>

                                                        <li><a href="#">»</a></li>

                                                    </ul>

                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>




                    </div>

                </div>

            </div>

        </div>

        <!-- END TAB PORTLET-->

    </div>
</div>