<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            信息中心
        </h3>
        <ul class="breadcrumb">
            <li><span class="divider"><i class="fa fa-sitemap"></i></span><a href="@Url.Action("Index", "Home", new { @area=""})">平台首页</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li><a href="javascript:;">OA办公自动化</a><span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li class="active">我的中心</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row-fluid ">
    <div class="span12">


        <div class="portlet box hui tabbable">

            <div class="portlet-title">

                <div class="caption"><i class="icon-calendar"></i>文件共享</div>

                <div class="actions">
                    <a href="Sharelv.html" class="btn blue config"><i class="icon-pencil"></i> 吕董文档</a>

                    <a href="sharesh.html" class="btn green config"><i class="icon-pencil"></i> 公司共享</a>

                    <a href="#portlet-config" data-toggle="modal" class="btn yellow config"><i class="icon-pencil"></i> 上传文档</a>

                    <a class="btn purple config"><i class="icon-pencil"></i> 新增文件夹</a>

                </div>



            </div>


            <div class="portlet-body" style="margin:10px;">
                <div class="row-fluid ">
                    <div class="top-news span2">

                        <a href="#" class="btn red">

                            <span>公司文件</span>

                            <em>2013.8.18</em>

                            <i class="icon-briefcase top-news-icon"></i>

                        </a>
                    </div>
                    <div class="top-news span2">
                        <a href="#" class="btn green">

                            <span>系统软件</span>

                            <em>2013.07.08</em>

                            <i class="icon-music top-news-icon"></i>

                        </a>
                    </div>
                    <div class="top-news span2">
                        <a href="#" class="btn blue">

                            <span>个人资料</span>

                            <em>2013.08.01</em>

                            <i class="icon-globe top-news-icon"></i>

                        </a>
                    </div>
                    <div class="top-news span2">
                        <a href="#" class="btn yellow">

                            <span>个人文档</span>

                            <em>2013.08.15</em>

                            <i class="icon-book top-news-icon"></i>

                        </a>
                    </div>
                    <div class="top-news span2">
                        <a href="#" class="btn purple">

                            <span>图片信息</span>

                            <em>2012.08.15</em>


                            <i class="icon-bolt top-news-icon"></i>

                        </a>
                    </div>
                    <div class="top-news span2">
                        <a href="#" class="btn green">

                            <span>其他文件</span>

                            <em>2012.08.15</em>


                            <i class="icon-bolt top-news-icon"></i>

                        </a>
                    </div>

                </div>

                <form action="#" class="form-search pull-right" style="margin-bottom:10px;">

                    <div class="input-append">

                        <input class="m-wrap" type="text">

                        <button class="btn green" type="button">查询</button>

                    </div>

                </form>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style=" width:10px;">#</th>
                            <th style="text-align:center;">文件名</th>
                            <th style="text-align:center; width:60px;">文件后缀</th>
                            <th style="width:70px;text-align:center;">发布时间</th>
                            <th style="width:45px;text-align:center;">下载</th>
                            <th style="width:45px;text-align:center;">共享</th>
                            <th style="width:45px;text-align:center;">删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td style="display:block; text-align:left;">OA的重要文件信息</td>
                            <td>word</td>
                            <td>1992.05.02</td>
                            <td><button type="button" class="btn yellow mini">下载</button></td>
                            <td>
                                <a href="#portlet-config1" data-toggle="modal">
                                    <button type="button" class="btn blue mini">共享</button>
                                </a>
                            </td>
                            <td><button type="button" class="btn red mini">删除</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td style="display:block; text-align:left;">OA的重要文件信息</td>
                            <td>word</td>
                            <td>1992.05.02</td>
                            <td><button type="button" class="btn yellow mini">下载</button></td>
                            <td><button type="button" class="btn blue mini">共享</button></td>
                            <td><button type="button" class="btn red mini">删除</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td style="display:block; text-align:left;">OA的重要文件信息</td>
                            <td>word</td>
                            <td>1992.05.02</td>
                            <td><button type="button" class="btn yellow mini">下载</button></td>
                            <td><button type="button" class="btn blue mini">共享</button></td>
                            <td><button type="button" class="btn red mini">删除</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td style="display:block; text-align:left;">OA的重要文件信息</td>
                            <td>word</td>
                            <td>1992.05.02</td>
                            <td><button type="button" class="btn yellow mini">下载</button></td>
                            <td><button type="button" class="btn blue mini">共享</button></td>
                            <td><button type="button" class="btn red mini">删除</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td style="display:block; text-align:left;">OA的重要文件信息</td>
                            <td>word</td>
                            <td>1992.05.02</td>
                            <td><button type="button" class="btn yellow mini">下载</button></td>
                            <td><button type="button" class="btn blue mini">共享</button></td>
                            <td><button type="button" class="btn red mini">删除</button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td style="display:block; text-align:left;">OA的重要文件信息</td>
                            <td>word</td>
                            <td>1992.05.02</td>
                            <td><button type="button" class="btn yellow mini">下载</button></td>
                            <td><button type="button" class="btn blue mini">共享</button></td>
                            <td><button type="button" class="btn red mini">删除</button></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:left;">
                                <div class="pagination" style="float:right">

                                    <ul>

                                        <li><a href="#">«</a></li>

                                        <li><a href="#">1</a></li>

                                        <li><a href="#">2</a></li>

                                        <li><a href="#">3</a></li>

                                        <li><a href="#">4</a></li>

                                        <li><a href="#">»</a></li>

                                    </ul>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>



    </div>
</div>