<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AccountConnectionString" connectionString="data source=.;initial catalog=LdAccount;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="OAConnectionString" connectionString="data source=.;initial catalog=LdOA;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="CrmConnectionString" connectionString="data source=.;initial catalog=LdAccount;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>